.header{
  position: absolute;
  width: 100%;
  top: 43px;
  left: 0;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    font-weight: 400;
    font-size: 24px;
    color: #FFF;
  }
  &__menu{
    display: flex;
    column-gap: 40px;
    &-link{
      font-weight: 400;
      font-size: 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #999999;
      transition: .5s all;
      &:hover{
        color: #00D6B4;
      }
    }
  }
}